In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("data.csv")
raw_data.shape

(1467832, 63)

In [3]:
raw_data.columns

Index(['total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3',
       'total_sessions_day7', 'chapters_finished_day0',
       'chapters_finished_day1', 'chapters_finished_day3',
       'chapters_finished_day7', 'chapters_opened_day0',
       'chapters_opened_day1', 'chapters_opened_day3', 'chapters_opened_day7',
       'chapters_closed_day0', 'chapters_closed_day1', 'chapters_closed_day3',
       'chapters_closed_day7', 'diamonds_received_day0',
       'diamonds_received_day1', 'diamonds_received_day3',
       'diamonds_received_day7', 'diamonds_spent_day0', 'diamonds_spent_day1',
       'diamonds_spent_day3', 'diamonds_spent_day7', 'tickets_spent_day0',
       'tickets_spent_day1', 'tickets_spent_day3', 'tickets_spent_day7',
       'retained_day1', 'retained_day3', 'retained_day7',
       'chapters_finished_session1', 'chapters_finished_session3',
       'chapters_finished_session9', 'chapters_opened_session1',
       'chapters_opened_session3', 'chapters_opened_session9',
       'chapters_closed_session1', 'chapters_closed_session3',
       'chapters_closed_session9', 'diamonds_spent_session1',
       'diamonds_spent_session3', 'diamonds_spent_session9',
       'tickets_spent_session1', 'tickets_spent_session3',
       'tickets_spent_session9', 'app_sub_ltv_day0', 'app_sub_ltv_day1',
       'app_sub_ltv_day3', 'app_iap_ltv_day0', 'app_iap_ltv_day1',
       'app_iap_ltv_day3', 'media_source', 'install_date', 'country_code',
       'ad_ltv_day0', 'ad_ltv_day1', 'ad_ltv_day3', 'platform',
       'target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30'],
      dtype='object')

In [4]:
platform_dummies = pd.get_dummies(raw_data['platform'], prefix = 'platform')
media_dummies = pd.get_dummies(raw_data['media_source'], prefix = '')
country_dummies = pd.get_dummies(raw_data['country_code'], prefix = '')

   _COUNTRY_0  _COUNTRY_1  _COUNTRY_10  _COUNTRY_100  _COUNTRY_101  \
0           0           0            0             0             0
1           0           0            0             0             0
2           0           0            0             0             0
3           0           0            0             0             0
4           0           0            0             0             0
5           0           0            0             0             0
6           0           0            0             0             0
7           0           0            0             0             0
8           0           0            0             0             0
9           0           0            0             0             0

   _COUNTRY_102  _COUNTRY_103  _COUNTRY_104  _COUNTRY_105  _COUNTRY_106  ...  \
0             0             0             0             0             0  ...
1             0             0             0             0             0  ...
2             0             0             0             0             0  ...
3             0             0             0             0             0  ...
4             0             0             0             0             0  ...
5             0             0             0             0             0  ...
6             0             0             0             0             0  ...
7             0             0             0             0             0  ...
8             0             0             0             0             0  ...
9             0             0             0             0             0  ...

   _COUNTRY_90  _COUNTRY_91  _COUNTRY_92  _COUNTRY_93  _COUNTRY_94  \
0            0            0            0            0            0
1            0            0            0            0            0
2            0            0            0            0            0
3            0            0            0            0            0
4            0            0            0            0            0
5            0            0            0            0            0
6            0            0            0            0            0
7            0            0            0            0            0
8            0            0            0            0            0
9            0            0            0            0            0

   _COUNTRY_95  _COUNTRY_96  _COUNTRY_97  _COUNTRY_98  _COUNTRY_99
0            0            0            0            0            0
1            0            0            0            0            0
2            0            0            0            0            0
3            0            0            0            0            0
4            0            0            0            0            0
5            0            0            0            0            0
6            0            0            0            0            0
7            0            0            0            0            0
8            0            0            0            0            0
9            0            0            0            0            0

[10 rows x 224 columns]

In [5]:
dummy_data = pd.concat([raw_data, platform_dummies, media_dummies, country_dummies], axis = 1)
dummy_data.shape

(1467832, 313)

In [6]:
dummy_data.drop('platform', axis = 1, inplace = True)
dummy_data.drop('country_code', axis = 1, inplace = True)
dummy_data.drop('media_source', axis = 1, inplace = True)



dummy_data.shape

(1467832, 310)

In [7]:
# just for now, idk what to do with it
dummy_data.drop('install_date', axis = 1, inplace = True)

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
# Spliting dataset for training 
train, test = train_test_split(dummy_data, test_size=0.0001)

train_set_y = train.drop(train.columns.difference(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30']), 1) 

train.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30'], axis = 1, inplace = True)


test_set_y = test.drop(train.columns.difference(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30']), 1) 

test.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
       'target_full_ltv_day30'], axis = 1, inplace = True)

# just synonims

train_set_x = train
test_set_x = test

train_set_x.shape
train_set_y.shape
test_set_x.shape
test_set_y.shape

<ipython-input-12-8439f0fa05a0>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  train_set_y = train.drop(train.columns.difference(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
<ipython-input-12-8439f0fa05a0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
<ipython-input-12-8439f0fa05a0>:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  test_set_y = test.drop(train.columns.difference(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',
<ipython-input-12-8439f0fa05a0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30',

(147, 4)

In [13]:
train_set_x.shape

(1467685, 305)

In [14]:
train_set_y.shape

(1467685, 4)

In [15]:
test_set_x.shape

(147, 305)

In [28]:
#reg = LinearRegression().fit(train_set_x, train_set_y)
#reg.score(train_set_x, train_set_y)

# such colums as 'total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3', 'total_sessions_day7' 
# can contain nan values 

train_set_x.fillna(0)
test_set_x.fillna(0)

train_set_y.fillna(0)
test_set_y.fillna(0)

,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
1444320,0.0,0.00000,0.000000,0.000000
258693,0.0,0.00000,0.000000,0.000000
1136736,0.0,0.40409,0.050822,0.454912
1092325,0.0,0.00000,0.000000,0.000000
528678,0.0,0.00000,0.000000,0.000000
...,...,...,...,...
345002,0.0,0.00000,0.000000,0.000000
783683,0.0,0.00000,0.000000,0.000000
1145602,0.0,0.00000,0.000000,0.000000
550303,0.0,0.00000,0.000000,0.000000
268689,0.0,0.00000,0.000000,0.000000

In [31]:
# Training simple logistoic regression

#unfortunately now it throws error about containing infinity. IDK where they are, so ...

#reg = LinearRegression().fit(train_set_x, train_set_y)
#reg.score(train_set_x, train_set_y)